.i1{
    height: 65px;
    width: 90px;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 10px;
    margin-left: 77px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.title1{
    padding-left: 30px;
}
.bn1{
    margin-left: 25px;
}
.cont1{
    margin-left: 9px;
}



.i2{
    height: 65px;
    width: 90px;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.title2{
    padding-left: 15px;
}
.bn2{
    margin-left: 5px;
    color: white;
}
.cont2{
    margin-left: 0px;
    padding-left: 10px;
    margin-right: 0;
    padding-right: 0;
}
.text{
    margin-top: 300px;
}
.card1{
        padding: 40px;
        margin-left: 270px;
}
.card2{
    padding: 40px;
    margin-left: 300px;
}
body{
    /* background-image: url("D:\reactbasics\fsproject\feedback\src\Components\Asserts\Images\img2.jpg"); */
    background-attachment: fixed;
    padding-left: 10px;
    padding-right: 20px;
}
button{
    background-color: orangered;
    color: white;
    border-radius: 9px/8px;
    box-shadow: 0px 6px 8px rgba(black, 0.35);
}
.bt1{
    margin: 0;
    
}